{% extends "base.html" %}

{% block content %}
<div class="container blog-main-page">
    <h1 style="font-family: 'Geist', sans-serif;">{{ section.title }}</h1>
    <p class="friend-banners-label">friends webring</p>
    <div class="friend-banners">
        <a href="https://harsha.is-a.dev" target="_blank" rel="noopener"><img src="{{ get_url(path='button_harsha.png') }}" alt="harsha"></a>
        <a href="https://namishh.com" target="_blank" rel="noopener"><img src="https://namishh.com/static/images/button_nam.png" alt="namishh"></a>
        <a href="https://thatarcticpenguin.is-a.dev" target="_blank" rel="noopener"><img src="{{ get_url(path='tap_banner.png') }}" alt="me"></a>
    </div>

    <div class="blogs-list">
        {% for page in section.pages %}
        <a href="{{ page.permalink | safe }}" class="blog-item-link">
            <div class="blog-item">
                <div class="blog-item-header">
                    <span class="blog-item-title">{{ page.title }}</span>
                    {% if page.extra.tags %}
                    <span class="blog-item-tags">
                        {% for tag in page.extra.tags %}
                        <span class="blog-inline-tag">#{{ tag }}</span>
                        {% endfor %}
                    </span>
                    {% elif page.taxonomies.tags %}
                    <span class="blog-item-tags">
                        {% for tag in page.taxonomies.tags %}
                        <span class="blog-inline-tag">#{{ tag }}</span>
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
                {% if page.extra.subtitle %}
                <div class="blog-item-subtext">{{ page.extra.subtitle }}</div>
                {% elif page.description %}
                <div class="blog-item-subtext">{{ page.description }}</div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<p class="built-with">built with <a href="https://www.getzola.org/" target="_blank" rel="noopener">zola</a></p>
{% endblock content %}
